{% extends 'layout.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
	{% if error %}
		<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
	{% endif %}

	<div class="container">
		<div class="row">
			<aside class="col-sm-4">
				<div class="card">
					<article class="card-body">
						<h4 class="card-title mb-4 mt-1">Sign in</h4>
						<form method="post">
							<div class="form-group">
								<input type="text" id="username" class="fadeIn second" name="_username" placeholder="email" required autofocus>
							</div> <!-- form-group// -->
							<div class="form-group">
								<input type="password" id="password" class="fadeIn third" name="_password" placeholder="password" required>
							</div> <!-- form-group// -->
							<div class="form-group">
								<input type="hidden" name="_csrf_token"
									   value="{{ csrf_token('authenticate') }}"
								>
								<input type="submit" class="btn btn-primary btn-block" value="Log In">
							</div> <!-- form-group// -->
						</form>
					</article>
				</div> <!-- card.// -->
			</aside>
		</div>
	</div>
{% endblock %}
